.header {
background-color: #131921;
display: flex;
align-items: center;
position: sticky;
top: 0;
z-index: 100;

}

.header__cartLink {
    color: white;
    text-decoration: none;
}

.header__optionCart {
    display: flex;
    align-items: center;
}

.header__productCount{
    margin-left: 10px;
    margin-right: 10px;
}